.fotos-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.foto-item {
    text-align: center;
}

.foto-item img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.foto-item img:hover {
    transform: scale(1.1);
}